<header class="bg-white shadow" data-controller="header">
  <div
    class="mx-auto max-w-7xl px-2 sm:px-4 lg:divide-y lg:divide-gray-200 lg:px-8"
  >
    <div class="relative flex h-16 justify-between">
      <div class="relative z-10 flex px-2 lg:px-0">
        <div class="flex flex-shrink-0 items-center">
          <%= link_to leads_path do %>
            <%=
              image_tag(
                "https://cinemaleads-public-assets.s3.us-west-1.amazonaws.com/cinemaleads_logo.svg",
                class: "h-8 w-auto",
                alt: "CinemaLeads" 
              )
            %>
          <% end %>
        </div>
      </div>
      <% unless controller_name == "consoles" && action_name == "show" || devise_controller? %>
        <%= form_with url: "/search", html: { class: "relative z-0 flex flex-1 items-center justify-center px-2 sm:absolute sm:inset-0" }, method: :get do |f| %>
          <div class="w-full sm:max-w-xs">
            <%= 
              f.label :q, 
              "Search for:", 
              class: "sr-only" 
            %>
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
              >
                <svg
                  class="h-5 w-5 text-gray-400"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                  aria-hidden="true"
                >
                  <path
                    fill-rule="evenodd"
                    d="M9 3.5a5.5 5.5 0 100 11 5.5 5.5 0 000-11zM2 9a7 7 0 1112.452 4.391l3.328 3.329a.75.75 0 11-1.06 1.06l-3.329-3.328A7 7 0 012 9z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <%=
                f.text_field :q,
                class: "block w-full rounded-md border-0 bg-white py-1.5 pl-10 pr-3 text-gray-900 ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6",
                placeholder: "Search"
              %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="relative z-10 flex items-center lg:hidden">
        <!-- Mobile menu button -->
        <button
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-100 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
          aria-controls="mobile-menu"
          aria-expanded="false"
          data-action="header#toggleMobileMenu"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open menu</span>
          <!-- Mobile menu icon -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"
            />
          </svg>
        </button>
      </div>
      <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">
        <!-- Profile dropdown -->
        <div class="relative ml-4 flex-shrink-0">
          <div>
            <button
              type="button"
              class="relative flex rounded-full bg-white focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
              id="user-menu-button"
              aria-expanded="false"
              aria-haspopup="true"
              data-action="header#toggleProfileDropdown"
            >
              <span class="absolute -inset-1.5"></span>
              <span class="sr-only">Open user menu</span>
              <span class="inline-block overflow-hidden rounded-full bg-gray-100">
                <svg class="h-8 w-8 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
                  <path
                    d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
                  />
                </svg>
              </span>
            </button>
          </div>
          <div
            class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu"
            aria-orientation="vertical"
            aria-labelledby="user-menu-button"
            tabindex="-1"
            data-header-target="profileDropdown"
            data-transition-enter="transition ease-out duration-100"
            data-transition-enter-start="transform opacity-0 scale-95"
            data-transition-enter-end="transform opacity-100 scale-100"
            data-transition-leave="transition ease-in duration-75"
            data-transition-leave-start="transform opacity-100 scale-100"
            data-transition-leave-end="transform opacity-0 scale-95"
          >
            <% if current_user.admin? %>
              <%=
                link_to "Console",
                console_path,
                class: "block px-4 py-2 text-sm text-gray-700",
                role: "menuitem",
                tabindex: "-1",
                id: "user-menu-item-0"
              %>
            <% end %>
            <%=
              link_to "Settings",
              edit_user_registration_path,
              class: "block px-4 py-2 text-sm text-gray-700",
              role: "menuitem",
              tabindex: "-1",
              id: "user-menu-item-1"
            %>
            <%=
              link_to "Sign out",
              destroy_user_session_path,
              class: "block px-4 py-2 text-sm text-gray-700",
              role: "menuitem",
              tabindex: "-1",
              id: "user-menu-item-3",
              data: { turbo_method: :delete }
            %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Mobile menu -->
  <nav class="hidden" aria-label="Global" id="mobile-menu" data-header-target="mobileMenu">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <%=
        link_to "Financiers",
        "#",
        class: "text-gray-900 hover:bg-gray-50 hover:text-gray-900 block rounded-md py-2 px-3 text-base font-medium" 
      %>
      <%=
        link_to "Studios",
        "#",
        class: "text-gray-900 hover:bg-gray-50 hover:text-gray-900 block rounded-md py-2 px-3 text-base font-medium" 
      %>
      <%=
        link_to "Festivals",
        "#",
        class: "text-gray-900 hover:bg-gray-50 hover:text-gray-900 block rounded-md py-2 px-3 text-base font-medium"
      %>
      <%=
        link_to "Distributors",
        "#",
        class: "text-gray-900 hover:bg-gray-50 hover:text-gray-900 block rounded-md py-2 px-3 text-base font-medium" 
      %>
    </div>
    <div class="border-t border-gray-200 pb-3 pt-4">
      <div class="flex items-center px-4">
        <div class="flex-shrink-0">
          <span class="inline-block overflow-hidden rounded-full bg-gray-100">
            <svg class="h-8 w-8 text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z"
              />
            </svg>
          </span>
        </div>
      </div>
      <div class="mt-3 space-y-1 px-2">
        <%=
          link_to "Console",
          console_path,
          class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900" 
        %>
        <%=
          link_to "Settings",
          edit_user_registration_path,
          class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900" 
        %>
        <%=
          link_to "Sign out",
          destroy_user_session_path,
          class: "block rounded-md px-3 py-2 text-base font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-900",
          data: { turbo_method: :delete } 
        %>
      </div>
    </div>
  </nav>
</header>
